# Server Config
PORT=                 
NODE_ENV=             
CORS_ORIGIN=

# Database Config
DATABASE_URL= 
COLLECTION_NAME=   

# Super Admin Config
SUPER_ADMIN_NAME=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_ROLE=

# Security & JWT
BCRYPT_SALT_ROUNDS=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

# SMTP Config
SMTP_EMAIL_USER=
SMTP_EMAIL_PASS=


